<!DOCTYPE html>
<html lang="de">
	

<head>
	<title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Anmeldung</title>


    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
</head>

<body>
		<div class="modal fade" id="myModal" role="dialog">
						  
		<div class="modal-dialog">
		
		<!-- Modal content-->
						  
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Anmeldung</h4>
				</div>
				<form name="form" id="formAddUser" method="post" action="/adduser">
			   	<div class="modal-body">
						<div class="container-fluid">
								
								 
									
							<div class="form-group row">
									<label for="useremail" class="col-sm-3 col-form-label">Email:</label>
									<input type="email" class="form-control col-sm-9" id="useremail" placeholder="Email Eingeben" name="useremail" required>
							</div>
									
							<div class="form-group row">
									<label for="renewemail" class="col-sm-3 col-form-label">Email Wiederholen:</label>
									<input type="email" class="form-control col-sm-9" id="renewemail" placeholder="Email Wiederholen" name="renewemail" required>
							</div>
	
								

									
	      				</div>
	      		</div>
	      		<div class="modal-footer">
	       			<button id="btnRegister" class="btn btn-primary btn-sm" type="submit" onclick="return starteRegistrierung()">Registrieren</button>
         			<button type="button" class="btn btn-sm" data-dismiss="modal" aria-label="Close">Abbrechen</button>
	   			</div>
				</form>
	   		</div>
  		</div>
	</div>
	
	
	
	


	
	


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-2 col-md-4 mr-0" href="#">Anmeldung zu Veranstaltung der DHBW Lörrach</a>
        <ul class="navbar-nav px-3">
        </ul>
    </nav>
   
    <main role="main" class="col-md-12 ml-sm-auto col-lg-14 px-4"> 
		<div class="d-flex justify-content-between align-items-center">
		</div>
		<br>
		<button type="button" class="btn btn-primary btn-sm" id="button" data-toggle="modal" data-target="#myModal">Anmelden</button>  
    </main>
    <!-- Bootstrap core JavaScript
	================================================== -->
	
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery-slim.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/registrierung.js"></script>

</body>
</html>