
    <div class="container-fluid text-center margin-book" >
    <% include ./partials/messages %>
    <div id="buttonbook"  class="form-group row">
        <p class="lead">Book your ticket below</p>
        <label id="label1">Slot 1:</label>
        <button id="btnTicket1" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label2" >Slot 2:</label>
        <button id="btnTicket2" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook"  class="form-group row">
        <label id="label3" >Slot 3:</label>
        <button id="btnTicket3" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label4">Slot 4:</label>
        <button id="btnTicket4" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label5" >Slot 5:</label>
        <button id="btnTicket5" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label6">Slot 6:</label>
        <button id="btnTicket6" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label7">Slot 7:</label>
        <button id="btnTicket7" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label8">Slot 8:</label>
        <button id="btnTicket8" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>

    <div id="buttonbook" class="form-group row">
        <label id="label9">Slot 9:</label>
        <button id="btnTicket9" class="btn btn-primary btn-block" type="submit">Book now!</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="/javascripts/Ajax_2.js"></script>
