<div class="container-fluid text-center margin-entry" >

    <div class="form-group row">
        <p class="lead">Get Entrance by clicking on <br> you booked ticket below</p>
        <label id="label0">Your Email:</label>
        <input id="inputUserEmail" class="form-control" type="text" placeholder="Enter E-Mail" name="emailName" required/>
    </div>

    <div id="buttonentry"  class="form-group row">
        <label id="labelentry1">Slot 1:</label>
        <button id="btnEntry1" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry2" >Slot 2:</label>
        <button id="btnEntry2" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry"  class="form-group row">
        <label id="labelentry3" >Slot 3:</label>
        <button id="btnEntry3" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry4">Slot 4:</label>
        <button id="btnEntry4" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry5" >Slot 5:</label>
        <button id="btnEntry5" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry6">Slot 6:</label>
        <button id="btnEntry6" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry7">Slot 7:</label>
        <button id="btnEntry7" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry8">Slot 8:</label>
        <button id="btnEntry8" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>

    <div id="buttonentry" class="form-group row">
        <label id="labelentry9">Slot 9:</label>
        <button id="btnEntry9" class="btn btn-primary btn-block" type="submit">Get entry</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="/javascripts/Ajax_3.js"></script>
