<!DOCTYPE html>
<html>
  <head>

    <title>Entry Event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body class="text-center" id="entry">

    <div class="container-fluid">
    <p class="lead">Type in your Email-address and<br> click on your booked event</p>
      
      <div class="form-group row">
            <label id="label0">Your Email:</label>
            <input id="inputUserEmail" class="form-control" type="text" placeholder="Enter E-Mail" name="emailName" required/>
        </div>

        <div id="buttoncount" name="button1" class="form-group row">
            <label id="label1" >Slot 1:</label>
            <button id="btnTicket1" class="btn btn-primary btn-block" type="submit" name="btnTicket1">Get entry!</button>
        </div>
    

        <div id="buttoncount" name="button2" class="form-group row">
            <label id="label2" >Slot 2:</label>
            <button id="btnTicket2" class="btn btn-primary btn-block" type="submit" name="btnTicket2">Get entry!</button>
        </div>
   
        <div id="buttoncount" name="button3" class="form-group row">
            <label id="label3">Slot 3:</label>
            <button id="btnTicket3" class="btn btn-primary btn-block" type="submit" name="btnTicket3">Get entry!</button>
            &nbsp;
            
        </div>
    
        <div id="buttoncount" name="button4" class="form-group row">
            <label id="label4" >Slot 4:</label>
            <button id="btnTicket4" class="btn btn-primary btn-block" type="submit" name="btnTicket4">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button5" class="form-group row">
            <label id="label5" >Slot 5:</label>
            <button id="btnTicket5" class="btn btn-primary btn-block" type="submit" name="btnTicket5">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button6" class="form-group row">
            <label id="label6" >Slot 6:</label>
            <button id="btnTicket6" class="btn btn-primary btn-block" type="submit" name="btnTicket6">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button7" class="form-group row">
            <label id="label7" >Slot 7:</label>
            <button id="btnTicket7" class="btn btn-primary btn-block" type="submit" name="btnTicket7">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button8" class="form-group row">
            <label id="label8" >Slot 8:</label>
            <button id="btnTicket8" class="btn btn-primary btn-block" type="submit" name="btnTicket8">Get entry!</button>
            &nbsp;
        </div>
    
        <div id="buttoncount" name="button9" class="form-group row">
            <label id="label9" >Slot 9:</label>
            <button id="btnTicket9" class="btn btn-primary btn-block" type="submit" name="btnTicket9">Get entry!</button>
            &nbsp;
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous">
    </script>

   <!-- <script src="javascripts/jquery.min.js"></script> -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/Ajax_3.js"></script>
  </body>
</html>