<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
          <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
              <a class="navbar-brand col-sm-2 col-md-4 mr-0" href="#">Get entry to event</a>
              <a class="p-2 text-white" href="/">Sign up</a>
              <a class="p-2 text-white" href="/booking">Booking</a>
              <a class="p-2 text-white" href="/requests">Balance & Transfer</a>
              <a class="p-2 text-white" href="/createAssets">Create Asset</a>
              <a class="p-2 text-white" href="/userlist">DB Userlist</a>
              <a class="p-2 text-white" href="/entry">Event entry</a>
              <ul class="navbar-nav px-5"></ul>
              </ul>
          </nav>
      </div>

      <div class="form-group row">
            <label id="label0" class="col-sm-2 col-form-label">Your Email:</label>
            <input id="inputUserEmail" class="col-sm-2 col-form-label" type="text" placeholder="Enter E-Mail" name="emailName" required/>
        </div>

        <div id="buttoncount" name="button1" class="form-group row">
            <label id="label1" class="col-sm-2 col-form-label">Slot 1:</label>
            <button id="btnTicket1" class="col-sm-2 col-form-label" type="submit" name="btnTicket1">Get entry!</button>
        </div>
    

        <div id="buttoncount" name="button2" class="form-group row">
            <label id="label2" class="col-sm-2 col-form-label">Slot 2:</label>
            <button id="btnTicket2" class="col-sm-2 col-form-label" type="submit" name="btnTicket2">Get entry!</button>
        </div>
   
        <div id="buttoncount" name="button3" class="form-group row">
            <label id="label3" class="col-sm-2 col-form-label">Slot 3:</label>
            <button id="btnTicket3" class="col-sm-2 col-form-label" type="submit" name="btnTicket3">Get entry!</button>
            &nbsp;
            
        </div>
    
        <div id="buttoncount" name="button4" class="form-group row">
            <label id="label4" class="col-sm-2 col-form-label">Slot 4:</label>
            <button id="btnTicket4" class="col-sm-2 col-form-label" type="submit" name="btnTicket4">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button5" class="form-group row">
            <label id="label5" class="col-sm-2 col-form-label">Slot 5:</label>
            <button id="btnTicket5" class="col-sm-2 col-form-label" type="submit" name="btnTicket5">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button6" class="form-group row">
            <label id="label6" class="col-sm-2 col-form-label">Slot 6:</label>
            <button id="btnTicket6" class="col-sm-2 col-form-label" type="submit" name="btnTicket6">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button7" class="form-group row">
            <label id="label7" class="col-sm-2 col-form-label">Slot 7:</label>
            <button id="btnTicket7" class="col-sm-2 col-form-label" type="submit" name="btnTicket7">Get entry!</button>
            &nbsp;
        </div>

        <div id="buttoncount" name="button8" class="form-group row">
            <label id="label8" class="col-sm-2 col-form-label">Slot 4:</label>
            <button id="btnTicket8" class="col-sm-2 col-form-label" type="submit" name="btnTicket8">Get entry!</button>
            &nbsp;
        </div>
    
        <div id="buttoncount" name="button9" class="form-group row">
            <label id="label9" class="col-sm-2 col-form-label">Slot 4:</label>
            <button id="btnTicket9" class="col-sm-2 col-form-label" type="submit" name="btnTicket9">Get entry!</button>
            &nbsp;
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous">
    </script>

   <!-- <script src="javascripts/jquery.min.js"></script> -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/Ajax_3.js"></script>
  </body>
</html>