

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="home">
    
     
   
    


    <main role="main" class="container text-center">

    <div class="starter-template">
      <h1>Sign up to Events</h1>
      <p class="lead">With this Website you can sign up to new Events of the DHBW Lörrach.<br>Use the this Website to sign up anonymously via Blockchain-technology .</p>
    </div>
  
  </main><!-- /.container -->
  

    
  </body>
</html>