

<form class="form-signin" method="post" action="/users/login"> 
  
  <% include ./partials/messages %>
  
  <h1 class="h3 mb-3 font-weight-normal text-center">Bitte anmelden</h1>

  <div class="form-group">
    <label for="inputEmail" class="sr-only">Email-adresse</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email eingeben" value="<%= typeof email != 'undefined' ? email : '' %>"/>
  </div>

  <div class="form-group"></div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
  </div>
  <p class="lead mt-4 text-center">
        Kein Konto? <a href="/users/register">Registrieren</a>
  </p>
</form>
