
<div class="container-fluid">
    <% include ./partials/messages %>
  <p class="lead">Guthaben prüfen oder Tickets<br>an andere Benutzer versenden </p>
  <div class="form-group row">
    <button id="btnBalance" class="btn btn-primary btn-block" type="submit">Guthaben prüfen</button>
  </div>
  
  &nbsp;
  <div class="form-group row">
    <button id="btnTransfer" class="btn btn-primary btn-block" type="submit">Versenden an:</button>
    &nbsp;
    <input id="inputAssetName" class="form-control" type="text" placeholder="Eventnamen eintragen" name="assetName" required />
    &nbsp;
    <input class="form-control" id="inputAssetAmount" type="text" placeholder="Anzahl der Tickets" name="assetamount"/>
  </div>

  <div class="form-group row">
    <input id="inputUserEmail" class="form-control" type="text" placeholder="Ziel-Emailadresse eingeben" name="email" required />
  </div>
</div>

