
<div class="container-fluid">
  <p class="lead">Check out your Walletbalance or<br> transfer Assets to other users</p>
  <div class="form-group row">
    <button id="btnBalance" class="btn btn-primary btn-block" type="submit">Check out Wallet Balance</button>
  </div>
  
  &nbsp;
  <div class="form-group row">
    <button id="btnTransfer" class="btn btn-primary btn-block" type="submit">Transefer to:</button>
    &nbsp;
    <input id="inputAssetName" class="form-control" type="text" placeholder="Type in the assetname" name="assetName" required />
    &nbsp;
    <input class="form-control" id="inputAssetAmount" type="text" placeholder="Amount of Ticket" name="assetamount"/>
  </div>

  <div class="form-group row">
    <input id="inputUserEmail" class="form-control" type="text" placeholder="Type in the target Email" name="email" required />
  </div>
</div>

