<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
        
  </head>
  <body>
   
    <h1>Anmeldeliste</h1>
    <ul>
        <% 
          for (var i = 0; i < requestlist.length; i++) { %>
            <li><a><%= requestlist[i].walletaddress %></a>
            </li>
        <% 
      } 
    %>
    </ul>

  </body>
</html>




