<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>
    

    <form name="form" id="formAddWallet" action="/addwallet"></form>
        <div class="form-group row">
            <button id="btnCreateWallet" type="submit">Create Wallet</button>
        </div>
    </form>

    



    <form id="form" name="request" action=""></form>
        <div class="form-group row">
            <button id="btnCreateAsset">Create Asset</button>
        </div>
    

    
   
        <div class="form-group row">
            <button id="btnBalance" type="submit">Wallet Balance</button>
            &nbsp;
            <input id="inputWalletAddress1" type="text" placeholder="Wallet address" name="walletaddress1" />
        </div>
    

    

        <div class="form-group row">
          <button id="btnTransfer" type="submit">Transefer to:</button>
          &nbsp;
          <input id="inputWalletAddress2" type="text" placeholder="Wallet address" name="walletaddress2" />
         </div>
    </form>

    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
   <!-- <script src="javascripts/jquery.min.js"></script> -->
    <script src="javascripts/bootstrap.min.js"></script>
	  <script src="javascripts/registrierung.js"></script>
    <script src="javascripts/Ajax.js"></script>
  </body>
</html>
