<!DOCTYPE html>
<html>
  <head>
    <title>Balance & Transfer</title>
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    
  </head>
  <body class="text-center" id="balance">
      <div class="container-fluid">
        <p class="lead">Check out your Walletbalance or<br> transfer Assets to other users</p>
        <div class="form-group row">
            <button id="btnBalance" class="btn btn-primary btn-block" type="submit">Wallet Balance</button>
            &nbsp;
            <input id="inputUserEmail1" class="form-control" type="text" placeholder="Type in your Email" name="Email1" required/>
        </div>
        &nbsp;
        <div class="form-group row">
          <button id="btnTransfer" class="btn btn-primary btn-block" type="submit">Transefer to:</button>
          &nbsp;
          <input id="inputAssetName" class="form-control" type="text" placeholder="Type in the assetname" name="assetName" required />
        
          <input id="inputUserEmail2" class="form-control" type="text" placeholder="Type in your Email" name="Email2" required />
        </div>
    </div>
    
     

      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
   <!-- <script src="javascripts/jquery.min.js"></script> -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/Ajax.js"></script>
  </body>
</html>
