<!DOCTYPE html>
<html>
  <head>
    <title>Userlist in Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">
        
  </head>
  <body>

      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
          <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
              <a class="navbar-brand col-sm-2 col-md-4 mr-0" href="#">Book your Ticket</a>
              <a class="p-2 text-white" href="/">Sign up</a>
              <a class="p-2 text-white" href="/booking">Booking</a>
              <a class="p-2 text-white" href="/requests">Balance & Transfer</a>
              <a class="p-2 text-white" href="/createAssets">Create Asset</a>
              <a class="p-2 text-white" href="/userlist">DB Userlist</a>
              <a class="p-2 text-white" href="/entry">Event entry</a>
              <ul class="navbar-nav px-5"></ul>
              </ul>
          </nav>
      </div>

    <main role="main" class="col-md-12 ml-sm-auto col-lg-14 px-4"></main>
   
      <ul>
          <% 
            for (var i = 0; i < userlist.length; i++) { %>
              <li>
                  <a><%= userlist[i].useremail %></a>,
                  <a><%= userlist[i].userwallet %></a>
              </li>
          <% 
        } 
      %>
      </ul>
    </main>

  </body>
</html>




