<!DOCTYPE html>
<html>
  <head>
    <title>Userlist in Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body id="userlist">
    
    <div class="container-fluid">
        <ul>
            <% 
              for (var i = 0; i < userlist.length; i++) { %>
                <form class="form-control">
                    <a><%= userlist[i].useremail %></a>,
                    <a><%= userlist[i].userwallet %></a>,
                    <a><%= userlist[i].created %></a>
                </form>
            <% 
          } 
        %>
        </ul>
    </div> 

  </body>
</html>




