<form class="form-welcomebox text-center">           

  <h2 >Anmeldung zu Veranstaltungen anonymisiert und via Blockchain</h2>
  <p class="lead">Auf dieser Website können Sie sich zu Veranstaltungen der DHBW-Lörrach anmelden. Jetzt anmelden und Tickets sichern.</p>

  <p>Erstelle ein Konto oder melde dich an</p>
  <a href="/users/register" class="btn btn-primary btn-block mb-2">Registrieren</a>
  <a href="/users/login" class="btn btn-lg btn-secondary btn-block mb-2">Anmelden</a>
</form>
