
<form class="form-signin">

  
    <h1>Sign up to Events</h1>
    <p class="lead text-center">With this Website you can sign up to new Events of the DHBW Lörrach. Use the this Website to sign up anonymously via Blockchain-technology.</p>
  
  
      <div class="starter-template">
        <div class="card card-body">
            
            <p class="text-center">Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-lg btn-secondary btn-block mb-2">Login</a>
          </div>
        </div>
  </form>

      
  
