
    <form class="form-welcomebox text-center">  
        <% include ./partials/messages %>         

        <h2>Anmeldung zu Veranstaltungen anonymisiert und via Blockchain</h2>
        <p class="lead">Auf dieser Website können Sie sich zu Veranstaltungen der DHBW-Lörrach anmelden. Jetzt anmelden und Tickets sichern.</p>
     
        <div id="welcome2" class="starter-template">
                <div class="card card-body">
                    <p class="text-center">Jetzt können Sie Tickets buchen und versenden</p>
                    <a href="/booking" class="btn btn-primary btn-block mb-2">Buche Veranstaltungen</a>
                    &nbsp;
                    
                    <a href="/requests" class="btn btn-primary btn-block mb-2">Kontostand und Transfer</a>
                    </div>
                </div>
      </form>

          
      
    