
<form class="form-signin">
    <% include ./partials/messages %>


    <h1>Sign up to Events</h1>
    <p class="lead text-center">With this Website you can sign up to new Events of the DHBW Lörrach. Use the this Website to sign up anonymously via Blockchain-technology.</p>
    
    
        <div id="welcome2" class="starter-template">
        <div class="card card-body">
            <p class="text-center">now you can go further</p>
            <a href="/booking" class="btn btn-primary btn-block mb-2">Book tickets!</a>
            &nbsp;
            
            <a href="/requests" class="btn btn-primary btn-block mb-2">Get balance and transfer tickets!</a>
            </div>
        </div>
    </form>

          
      
    