body { 
  background-color: #f0f2f2;
}

body#home a#home,
body#booking a#booking,
body#balance a#balance,
body#create a#create,
body#entry a#entry,
body#userlist a#userlist {
    color: #fff;
    background: rgb(85, 84, 84);
}




